<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>View Customers</title>
    </head>
    <body>
        <h1>Existing information</h1>
        <table>
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer: ${customers}">
                    <td th:text="${customer.getFirstName()}"></td>
                    <td>
                        <a th:href="'/customers/' + ${customer.getCustomerId()}">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>